body{font-size:17px; line-height:140%; background: #d2d2d2; margin:0; padding:0em 1em; color: #444; font-family:Arial;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.error{color:#882222}
.ok{color:#226622}
.command{color:#666;}
#logged-in-as{font-size:17px;}
#user{font-weight:bold;}
#display{width:100%;}
#whois{float:left;}
#left{
float: left;
}
#right{
float: left;
width: 66%;
}
.terminal-inp{
padding:2px 0 0 1px; margin:0;
border:0;
height: 8em;
font-size:17px;
font-family:Arial;
color: #444;
outline: none;
-moz-appearance:none;
margin-left: 4px;
background:#d2d2d2;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#whitespace{
height: 20em;
}