#outer-wrapper {
}
#navbar-iframe {
height:0px;
visibility:hidden;
display:none
}
/*-- (Generales) --*/
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
/*
960 Grid System ~ Core CSS.
Learn more ~ http://960.gs/
Licensed under GPL and MIT.
*/
/* =Containers
--------------------------------------------------------------------------------*/
.container_12,
.container_16
{
margin-left: auto;
margin-right: auto;
width: 960px;
}
/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{
display: inline;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.container_12 .grid_3,
.container_16 .grid_4
{
width: 220px;
}
.container_12 .grid_6,
.container_16 .grid_8
{
width: 460px;
}
.container_12 .grid_9,
.container_16 .grid_12
{
width: 700px;
}
.container_12 .grid_12,
.container_16 .grid_16
{
width: 940px;
}
/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha
{
margin-left: 0;
}
.omega
{
margin-right: 0;
}
/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1
{
width: 60px;
}
.container_12 .grid_2
{
width: 140px;
}
.container_12 .grid_4
{
width: 300px;
}
.container_12 .grid_5
{
width: 380px;
}
.container_12 .grid_7
{
width: 540px;
}
.container_12 .grid_8
{
width: 620px;
}
.container_12 .grid_10
{
width: 780px;
}
.container_12 .grid_11
{
width: 860px;
}
/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .grid_1
{
width: 40px;
}
.container_16 .grid_2
{
width: 100px;
}
.container_16 .grid_3
{
width: 160px;
}
.container_16 .grid_5
{
width: 280px;
}
.container_16 .grid_6
{
width: 340px;
}
.container_16 .grid_7
{
width: 400px;
}
.container_16 .grid_9
{
width: 520px;
}
.container_16 .grid_10
{
width: 580px;
}
.container_16 .grid_11
{
width: 640px;
}
.container_16 .grid_13
{
width: 760px;
}
.container_16 .grid_14
{
width: 820px;
}
.container_16 .grid_15
{
width: 880px;
}
/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/
.container_12 .prefix_3,
.container_16 .prefix_4
{
padding-left: 240px;
}
.container_12 .prefix_6,
.container_16 .prefix_8
{
padding-left: 480px;
}
.container_12 .prefix_9,
.container_16 .prefix_12
{
padding-left: 720px;
}
/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1
{
padding-left: 80px;
}
.container_12 .prefix_2
{
padding-left: 160px;
}
.container_12 .prefix_4
{
padding-left: 320px;
}
.container_12 .prefix_5
{
padding-left: 400px;
}
.container_12 .prefix_7
{
padding-left: 560px;
}
.container_12 .prefix_8
{
padding-left: 640px;
}
.container_12 .prefix_10
{
padding-left: 800px;
}
.container_12 .prefix_11
{
padding-left: 880px;
}
/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .prefix_1
{
padding-left: 60px;
}
.container_16 .prefix_2
{
padding-left: 120px;
}
.container_16 .prefix_3
{
padding-left: 180px;
}
.container_16 .prefix_5
{
padding-left: 300px;
}
.container_16 .prefix_6
{
padding-left: 360px;
}
.container_16 .prefix_7
{
padding-left: 420px;
}
.container_16 .prefix_9
{
padding-left: 540px;
}
.container_16 .prefix_10
{
padding-left: 600px;
}
.container_16 .prefix_11
{
padding-left: 660px;
}
.container_16 .prefix_13
{
padding-left: 780px;
}
.container_16 .prefix_14
{
padding-left: 840px;
}
.container_16 .prefix_15
{
padding-left: 900px;
}
/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/
.container_12 .suffix_3,
.container_16 .suffix_4
{
padding-right: 240px;
}
.container_12 .suffix_6,
.container_16 .suffix_8
{
padding-right: 480px;
}
.container_12 .suffix_9,
.container_16 .suffix_12
{
padding-right: 720px;
}
/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1
{
padding-right: 80px;
}
.container_12 .suffix_2
{
padding-right: 160px;
}
.container_12 .suffix_4
{
padding-right: 320px;
}
.container_12 .suffix_5
{
padding-right: 400px;
}
.container_12 .suffix_7
{
padding-right: 560px;
}
.container_12 .suffix_8
{
padding-right: 640px;
}
.container_12 .suffix_10
{
padding-right: 800px;
}
.container_12 .suffix_11
{
padding-right: 880px;
}
/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .suffix_1
{
padding-right: 60px;
}
.container_16 .suffix_2
{
padding-right: 120px;
}
.container_16 .suffix_3
{
padding-right: 180px;
}
.container_16 .suffix_5
{
padding-right: 300px;
}
.container_16 .suffix_6
{
padding-right: 360px;
}
.container_16 .suffix_7
{
padding-right: 420px;
}
.container_16 .suffix_9
{
padding-right: 540px;
}
.container_16 .suffix_10
{
padding-right: 600px;
}
.container_16 .suffix_11
{
padding-right: 660px;
}
.container_16 .suffix_13
{
padding-right: 780px;
}
.container_16 .suffix_14
{
padding-right: 840px;
}
.container_16 .suffix_15
{
padding-right: 900px;
}
/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
background: none;
border: 0;
clear: both;
display: block;
float: none;
font-size: 0;
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after
{
clear: both;
content: '.';
display: block;
visibility: hidden;
height: 0;
}
.clearfix
{
display: inline-block;
}
* html .clearfix
{
height: 1%;
}
.clearfix
{
display: block;
}
body {
font: 11px/165% 'Lucida Grande', Verdana, Helvetica, sans-serif;
color: #666666;
margin: 0; padding: 0 0 50px 0;
background: #F6F5F5 url(/template/bg.gif) repeat-x;
text-align: center;
}
/* Links */
a:link, a:visited {
text-decoration: none;
color: #AE855C;
}
a:hover {
border-bottom: 1px dotted #AE855C;
}
a.more-link {
padding-bottom: 2px;
font-weight: bold;
border-bottom: 1px dotted #AE855C;
}
a:hover.more-link {
text-decoration: none;
}
/* Headers */
h1, h2, h3, h4 {
font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
color: #444;
padding: 10px 15px 7px 15px;
}
h1 { font-size: 3.7em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 2.8em; font-weight: normal; color: #663333; }
h3 { font-size: 2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}
h4 { font-size: 1.3em; }
/* Lists */
ul, ol {
margin: 10px 20px;
padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }
dt {
font-weight: bold;
color: #7BA857;
}
dd {
padding-left: 25px;
}
p, dl { padding: 10px 15px; }
/* Images */
img {
background: #FAFAFA;
border: 1px solid #DCDCDC;
padding: 8px;
}
img.float-right {
margin: 5px 0px 10px 10px;
}
img.float-left {
margin: 5px 10px 10px 0px;
}
code {
margin: 3px 0;
padding: 15px;
text-align: left;
display: block;
overflow: auto;
font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
/* white-space: pre; */
border: 1px solid #F0F0F0;
background: #f8f8f8;
}
acronym {
cursor: help;
border-bottom: 1px dotted #895F30;
}
blockquote {
margin: 10px;
padding: 10px 10px 10px 32px;
border: 1px solid #F0F0F0;
background: #f8f8f8 url(/template/quote.gif) no-repeat 12px 12px;
font-weight: normal;
font-size: 17px;
line-height: 1.5em;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, Serif;
color: #555;
}
/* start - table */
table {
border-collapse: collapse;
margin: 10px;
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
text-align: left;
border-width: 1px;
border-style: solid;
}
th {
color: #7BA857;
background: #EFFAE6;
padding: .8em 1em;
border-color: #DFF4D5 #D3EFC3 #A7DF8A #D3EFC3;
}
td {
border-color: #EFEFEF;
padding: .7em 1em;
}
/* end - table */
/* form elements */
/*form {
margin: 10px;
padding: 15px 25px 25px 20px;
border: 1px solid #F0F0F0;
background: #f8f8f8;
}*/
form p {
border-bottom: 1px solid #E6E6E6;
padding: 12px 0 5px 0;	margin: 0;
color: #7BA857;
}
label {
font-weight: bold;
color: #7BA857;
}
input, select, textarea {
/*margin: 5px 0;*/
padding: 5px;
color: #6A6969;
border-width: 1px;
border-style: solid;
border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;
font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
input:focus, select:focus, textarea:focus {
color: #7BA857;
background: #EFFAE6;
}
#name, #email, #message, #website {
width: 380px;
}
input.button {
font: bold 12px Arial, Sans-serif;
height: 30px;
margin: 0;
padding: 2px 3px;
color: #fff;
background: #9CCF5F;
border-width: 1px;
border-style: solid;
border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
}
.clear {clear:both;}
#blog-pager-newer-link {float: left;}
#blog-pager-older-link {float: right;}
#blog-pager {text-align: center; }
/*-- (Cabecera) --*/
#header-wrapper {
width: 100%;
background: #fff url(/template/bg.gif) repeat-x ;
margin: 0; padding: 0;
}
#header-inner1 {
position: relative;
margin: 0 auto;
background: url(/template/border.gif) repeat-x left bottom;
height: 275px;
margin-left:auto;
margin-right:auto;
width:960px;
}
#header-wrapper h1 {
position: absolute;
margin: 0; padding: 0 5px 0 0;
font: normal 75px Georgia, 'Times New Roman', Times, serif;
letter-spacing: -6px;
color: #93b876;
text-decoration: none;
/* change the values of top and left to adjust the position of the logo*/
top: 90px; left: 20px;
}
#header-wrapper h1 a {
color: #93b876;
}
#header-wrapper h1 a:hover {
border: none;
}
#header-wrapper p.description {
position: absolute;
margin: 0; padding: 0;
font-family: Georgia, 'Times New Roman', Times, Serif;
font-weight: normal;
font-size: 17px;
line-height: 1.6em;
font-style: italic;
letter-spacing: -.5px;
color: #7ba45b;
width: 400px;
/* change the values of top and left to adjust the position */
top: 175px; left: 110px;
}
/*-- (Menu) --*/
#header-wrapper #header-image {
position: absolute;
background: url(/template/header_image.gif) no-repeat;
width: 371px;
height: 263px;
right: 10px; top: 0;
}
/* header quick search */
#header-wrapper form#quick-search {
position: absolute;
top: 10px; right: 0;
padding: 0; margin: 0;
border: none;
width: 270px; height: 33px;
background: #F5F4F3 url(/template/header-search.gif) no-repeat;
z-index: 999999;
}
#header-wrapper form#quick-search p {
margin: 0; padding: 0;
}
#header-wrapper form#quick-search input {
border: none;
background: transparent;
color: #bababa;
float: left;
margin: 0; padding: 5px;
}
#header-wrapper form#quick-search .tbox {
margin: 6px 0 0 5px;
width: 216px;
display: inline;
}
#header-wrapper #search form#quick-search .btn{
width: 25px; height: 25px;
}
#header-wrapper form#quick-search label {
display: none;
}
/*  navigation  */
#header-wrapper #nav {
position: absolute;
margin: 0; padding: 0;
width: 880px;
left: 0;	top: 5px;
}
#header-wrapper #nav ul {
float: left;
list-style: none;
margin: 5px 0 0 0;
height: 45px;
padding: 0 0 0 15px;
}
#header-wrapper #nav ul li {
float: left;
margin: 0; padding: 0 0 0 10px;
}
#header-wrapper #nav ul li a {
float: left;
margin: 0;
padding: 0 15px 0 5px;
color: #666666;
font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
text-transform: uppercase;
}
#header-wrapper #nav ul li a:hover,
#header-wrapper #nav ul li a:active {
border: none;
color: #111;
background: transparent;
}
#header-wrapper #nav ul li#current {
background: transparent url(/template/left-tab.gif) no-repeat;
}
#header-wrapper #nav ul li#current a {
color: #444;
background: transparent url(/template/right-tab.gif) no-repeat right top;
}
/*-- (Contenedor) --*/
#content-wrapper {
background: #fff;
width: 100%;
padding: 5px 0;
border-bottom: 1px solid #E8E8E8;
text-align: left;
}
#content-wrapper2 {
margin: 0 auto;
background: #fff url(/template/contentbgdk0.gif) repeat-y center top;
padding-bottom: 35px;
padding-top: 5px;
overflow: auto;
}
/*-- (Principal) --*/
#main-wrapper {
}
#main-wrapper a {
}
#main-wrapper a:hover {
}
.post {
}
.post-title {
font: normal 3.7em Georgia, 'Times New Roman', Times, Serif;
color: #444444;
letter-spacing: -2.2px;
margin-left: 5px;
margin-right: 15px;
padding-left: 5px;
padding-bottom: 3px;
border-bottom: 1px solid #ebebeb;
}
.post-title a {
color: #444444;
border: none;
}
.post-header-line-1 {
font-size: .95em; padding-top: 3px; color: #B0B0B0;
padding:0px 15px;
}
.post-header-line-1 a, .post-header-line-1 a:visited {
color: #000; border: none;
}
.post-body {
padding:0px 15px;
}
.post-footer, p.comment-footer {
padding: 5px; margin: 20px 15px 15px 10px;
border: 1px solid #EBEBEB;
background: #f8f8f8;
}
.post-footer a { background: transparent; }
.post-footer a:hover { border: none; }
.post-footer a.comment-link { margin: 0 10px 0 5px;	}
.post-footer .date-header{ margin: 0 10px 0 5px;	}
/*-- (Lateral) --*/
* html body #sidebar-wrapper {
margin:0;
}
#sidebar-wrapper ul{
text-align: left;
margin: 10px 8px 8px 8px; padding: 0;
border-top: 2px solid #ebebeb;
}
#sidebar-wrapper li{
list-style: none;
background: url(http:/template/dots.gif) repeat-x left bottom;
padding: 7px 5px;
margin: 0;
}
#sidebar-wrapper ul li a,
#sidebar-wrapper ul li a:visited {
font-family: Georgia, 'Times New Roman', Times, Serif;
background-image: none;
background-color: transparent;
border: none;
color: #7BA857;
padding-left: 0;
}
#sidebar-wrapper ul li a:hover { color: #000;	}
#sidebar-wrapper ul ul { margin: 0 0 0 5px; padding: 0; }
#sidebar-wrapper ul ul li { background: none; }
* html body #sidebar-wrapper li{
height: 1%;
}
#sidebar-wrapper h2 {
color: #444444;
font: normal 2em Georgia, 'Times New Roman', Times, Serif;
letter-spacing: -0.5px;
padding: 5px 10px;
margin: 12px 0 5px 0;
}
/*-- (Pie de pagina) --*/
#footer-wrapper {
clear: both;
margin: 0 auto;
text-align: left;
margin-left:auto;
margin-right:auto;
width:960px;
}
#footer-wrapper h2 {
color: #444;
font: normal 1.8em Georgia, 'Times New Roman', Times, Serif;
text-transform: none;
letter-spacing: -0.5px;
}
#footer-wrapper h2,
#footer-wrapper p {
padding-left: 0;
}
#footer-wrapper a {
color: #333;
background: transparent;
}
#footer-wrapper .grid_8 {
width:460px;
}
#footer-wrapper ul {
border-top: 1px solid #E6E6E6;
list-style: none;
padding: 0;
margin-left: 0;
}
#footer-wrapper ul li {
border-bottom: 1px solid #E6E6E6;
display: block;
line-height: 2em;
padding: 4px 0;
margin-left: 0;
padding-left: 0;
}
#footer-wrapper ul li a {
width: 98%;
font-weight: bold;
color: #888;
border: none;
}
#footer-wrapper ul li a span {
font-style: italic;
font-weight: normal;
font-family: Georgia, 'Times New Roman', Times, Serif;
}
#footer-wrapper ul li a:hover,
#footer-wrapper ul li a:hover span {
color: #333;
}
#footer-content {
float: left;
width: 100%;
padding: 0 0 35px 0;
margin: 10px 0 0 5px;
}
#footer1, #footer 2 {
width:460px;
}
#links {
clear: both;
border-top: 1px solid #dadada;
width: 940px;
margin: 0 auto;
font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
}
#links .bottom-left {
float: left;
padding-left: 5px;
}
#links .bottom-right {
text-align: right;
padding-right: 0;
}
/*-- (Comentarios) --*/
#comments h4 {
font: normal 2.5em Georgia, 'Times New Roman', Times, Serif;
color: #444;
letter-spacing: -2.2px;
margin-left: 5px;
margin-right: 15px;
margin-bottom:10px;
padding-left: 5px;
padding-bottom: 3px;
border-bottom: 1px solid #ebebeb;
}
#comments dl {
padding:0 15px;
} #comments p {
padding:0;
}
.comment-author {
font-size:110%
}
.comment-body {
padding:5px 0;
}
.comment-timestamp {
}
p.comment-footer {
text-align:center;
}
dd.comment-footer, dd.comment-body {
margin:0;
}
dd.comment-footer {
margin-bottom:10px;
font-size:90%;
padding:0;
}
body#layout #content-wrapper {
margin: 0px;
}
body#layout #footer-wrapper p.links, body#layout #menu, body#layout #search {
display:none;
}

/* Added by HypeCMS authors. */
#tag-search{
	margin: 2em 0 1em 0;
}